.svgator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". b"
                         "a b"
                         "c b"
                         "d b"
                         "e b"
                         ". b";
    background-image: url("../../../../assets/facets.png");
    background-size: 1000px;
    background-repeat: repeat-x;
}

.svg-text-container {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
    margin-left: 150px;
    font-size: 1.5em;
}

.svg-text-container h1 {
    margin: 0;
}

.small-svgs {
    grid-area: c;
    margin-left: 150px;
}

.desc {
    grid-area: d;
    margin-left: 150px;
    width: 19em;
    font-weight: 700;
    font-size: 1.4em;
}

#siguup-button {
    grid-area: e;
    margin-left: 150px;
    width: 15rem;
    display: flex;
    justify-content: center;
}

.all-svgs {
    grid-area: b;
}

.lg-icon {
    width: 40vw;
}

.share-expenses {
    font-size: 4vw;
    line-height: 1.2;
}
@media only screen and (max-width: 1024px) {
    .svgator {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-repeat: repeat;
    }

    .svg-text-container {
        margin-left: 0;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .share-expenses {
        width: 80%;
    }

    .small-svgs {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .all-svgs {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .lg-icon {
        width: 70vw;
    }

    .desc, #siguup-button {
        margin: 0;
    }

    .desc {
        width: 80%;
    }
}